# Sales Statistics Analysis

This notebook focuses on a statistical analysis of various key metrics that impacts the overall sales of a certain store.<br>
We received one year data with daily granularity of the store to perform the analysis.

## Descriptive Statistics

**Total Transactions**

The following query shows the total number of transactions made in the entire year

In [5]:
SELECT
    COUNT(*) AS total_transactions
FROM
    store_sales;

total_transactions
365

**Transactions by Month**

The following query shows the number of transactions made by each month of the year

In [4]:
SELECT 
    month_of_year,
    COUNT(*) AS transactions
FROM
    store_sales
GROUP BY
    month_of_year
ORDER BY
    month_of_year;

month_of_year,transactions
1,31
2,28
3,31
4,30
5,31
6,30
7,31
8,31
9,30
10,31
11,30
12,31

**Annual Maximum and Minimum Employees**

The followuing query shows the maximum and minimum number of employees for any shift during the year

In [10]:
SELECT
    MAX(employee_shifts) AS maximum_employees,
    MIN(employee_shifts) AS minimum_employees
FROM
    store_sales

maximum_employees,minimum_employees
7,0

**Monthly Maximum and Minimum Employees**

The following query shows the maximum and minimum number of employees for any shift by each month of the year

In [11]:
SELECT
    month_of_year,
    MAX(employee_shifts) AS maximum_employees,
    MIN(employee_shifts) AS minimum_employees
FROM
    store_sales
GROUP BY
    month_of_year
ORDER BY
    month_of_year;

month_of_year,maximum_employees,minimum_employees
1,3,3
2,4,3
3,4,4
4,4,4
5,5,4
6,5,5
7,5,4
8,4,3
9,3,3
10,4,3
11,5,4
12,7,0

**Total Units Sold**

The following query shows the total number of units sold over the year

In [13]:
SELECT
    SUM(units_sold) AS total_units
FROM
    store_sales;

total_units
176604

**Total & Average Units Sold by Month**

The following query shows the total and average number of units sold by each month of the year

In [16]:
SELECT
    month_of_year,
    SUM(units_sold) AS total_units_sold,
    ROUND(AVG(units_sold), 2) AS average_units_sold
FROM
    store_sales
GROUP BY
    month_of_year
ORDER BY
    month_of_year;

month_of_year,total_units_sold,average_units_sold
1,8473,273.32
2,12954,462.64
3,16134,520.45
4,15094,503.13
5,16895,545.00
6,17506,583.53
7,18578,599.29
8,15816,510.19
9,12413,413.77
10,8055,259.84
11,16073,535.77
12,18613,600.42

**Variance & Standard Deviation of Units Sold by Month**

The following query shows the population variance and standard deviation of the monthly units sold

In [18]:
SELECT
    month_of_year,
    ROUND(VAR_POP(units_sold), 2) AS variance,
    ROUND(STDDEV_POP(units_sold), 2) AS standard_deviation
FROM
    store_sales
GROUP BY
    month_of_year
ORDER BY
    month_of_year;

month_of_year,variance,standard_deviation
1,8737.70,93.48
2,27407.02,165.55
3,13782.12,117.40
4,15481.72,124.43
5,24040.06,155.05
6,14059.92,118.57
7,14998.85,122.47
8,12227.38,110.58
9,20261.91,142.34
10,11790.84,108.59
11,28680.25,169.35
12,53431.34,231.15

## Percentiles and Frequencies

Percentiles are one hundred equal groups of the population

### Discrete Percentile

The discrete percentile returns the first value that exceeds the given percentile mark in a ordered list of values, i.e., the number is present within our data.<br>
It is the first data point that exceeds the given percentile mark.

**Revenue Discrete Percentiles**

The following query shows the discrete percentiles, i.e., 25th, 50th, 75th and 95th percentiles of the revenue

In [30]:
SELECT
    'Discrete Percentiles - Revenue' AS "Metric",
    PERCENTILE_DISC(0.25) WITHIN GROUP (ORDER BY revenue) AS "25%",
    PERCENTILE_DISC(0.50) WITHIN GROUP (ORDER BY revenue) AS "50%",
    PERCENTILE_DISC(0.75) WITHIN GROUP (ORDER BY revenue) AS "75%",
    PERCENTILE_DISC(0.95) WITHIN GROUP (ORDER BY revenue) AS "95%"
FROM
    store_sales;

Metric,25%,50%,75%,95%
Discrete Percentiles - Revenue,4272,5856,7524,9192

### Continuous Percentile

This is the actual percentile value and maynot present as the data point in the dataset. So, this provides the boundaries of percentiles. It basically interpolates the boundary values between the percentiles.<br>
Continuous percentiles are useful when you want to know what is the value at the boundary between two percentile buckets.

**Revenue Continuous Percentiles**

The following query shows the continuous percentiles, i.e., 25th, 50th, 75th and 95th percentiles of the revenue

In [31]:
SELECT
    'Continuous Percentiles - Revenue' AS "Metric",
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY revenue) AS "25%",
    PERCENTILE_CONT(0.50) WITHIN GROUP (ORDER BY revenue) AS "50%",
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY revenue) AS "75%",
    PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY revenue) AS "95%"
FROM
    store_sales;

Metric,25%,50%,75%,95%
Continuous Percentiles - Revenue,4272.0,5856.0,7524.0,9189.6

## Correlation

Correlation considers how two columns vary together.

- **Correlated / Positively Correlated** : values of the 2 variables move together in same direction
- **Inverse / Negatively Correlated** : values of the 2 variables move together in opposite direction

**Correlation of Metrices**

The following query shows the correlation between the following sales metrics:
- `units_sold` and `revenue`
- `units_sold` and `employee_shifts`
- `units_sold` and `month_of_year`

In [38]:
SELECT
    ROUND(CORR(units_sold, revenue)::NUMERIC, 2) AS units_and_revenue_corr,
    ROUND(CORR(units_sold, employee_shifts)::NUMERIC, 2) AS units_and_employee_shift_corr,
    ROUND(CORR(units_sold, month_of_year)::NUMERIC, 2) AS units_and_month_corr
FROM
    store_sales;

units_and_revenue_corr,units_and_employee_shift_corr,units_and_month_corr
1.00,0.56,0.13

## Ranking & Mode

**Ranking Units Sold**

The following query ranks the units sold over the months in descending order

In [56]:
WITH units_sold_by_month AS
(
SELECT
    month_of_year,
    SUM(units_sold) AS units_sold
FROM
    store_sales
GROUP BY
    month_of_year
)

SELECT
    month_of_year,
    units_sold,
    ROW_NUMBER() OVER (ORDER BY units_sold DESC) AS units_sold_rank
FROM
    units_sold_by_month
ORDER BY
    month_of_year;

month_of_year,units_sold,units_sold_rank
1,8473,11
2,12954,9
3,16134,5
4,15094,8
5,16895,4
6,17506,3
7,18578,2
8,15816,7
9,12413,10
10,8055,12
11,16073,6
12,18613,1

**Most Occuring Employees**

The following query shows the most occuring employee number over each month

In [46]:
SELECT
    month_of_year,
    MODE() WITHIN GROUP (ORDER BY employee_shifts) AS employee_mode
FROM
    store_sales
GROUP BY
    month_of_year
ORDER BY
    month_of_year;

month_of_year,employee_mode
1,3
2,4
3,4
4,4
5,5
6,5
7,5
8,4
9,3
10,3
11,4
12,7

## Linear Regression

The linear regression method can be used to determine the value of one metric based on the change in another metric.<br>
We need to calculate the **slope** and **intercept** between the two metric and use these to determine the unknown variable.

The mathematical formula is: $Y = mx + C$


- $Y$ : Unknown variable to be determined
- $x$ : Known variable
- $m$ : Slope
- $C$ : Y-intercept

**Determine Required Employees**

The following query calculates the number of required employees when the number of units sold is given.<br>
In the process of calculation, we've determined the slope and Y-intercept between `units_sold` and `employee_shifts` and used these to calculates the number of employees afterwards.

In [55]:
WITH reg_metrics AS
(
    SELECT
        REGR_SLOPE(employee_shifts, units_sold) AS slope,
        REGR_INTERCEPT(employee_shifts, units_sold) AS intercept
    FROM
        store_sales
)

SELECT
    1500 AS given_units_sold,
    CEIL(slope * 1500 + intercept) AS required_employees
FROM
    reg_metrics;

given_units_sold,required_employees
1500,8.0